<%- include('../includes/head.ejs') %> 
<%- include('../includes/headers.ejs') %> 

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(src/utils/img/fondos/bg_00.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Emisora Virtual <br> </h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">LA FABULOSA<span>LA FABULOSA</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#contactenos" class="btn oneMusic-btn mt-50">Contáctanos<i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(src/utils/img/fondos/bg_01.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Emisora Virtual <br></h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">LA FABULOSA<span>LA FABULOSA</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#contactenos" class="btn oneMusic-btn mt-50">Contáctanos <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

   <!-- ##### Nosotros Start ##### -->
   <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed"
    style="background-image: url(src/utils/img/extras/concierto.jpg); height: 550px;" id="nosotros">
    <div class="container">

        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <img src="src/utils/img/extras/nosotros.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <h2>¿Quiénes Somos?</h2>
                    </div>
                    <p>La Emisora virtual la Fabulosa pertenece a Eventos y Producciones El Kangry, 
                        una marca de la ciudad de Medellín que opera en toda el área metropolitana, 
                        el departamento de Antioquia y sus municipios, nuestra actividad se destaca en el sector del entretenimiento, 
                        organizamos toda clase de eventos, conciertos, feriados y muchos más.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- ##### servicios Start ##### -->
    <section class="latest-albums-area section-padding-100" id="servicio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <!-- <p>Servicio</p> -->
                        <h2>Servicio</h2>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        <!-- Single Event Area -->
                        <div class="single-event-area mb-30">
                            <div class="event-thumbnail">
                                <img src="src/utils/img/servicios/servicio_01.jpg" alt="">
                            </div>
                            <div class="event-text" style="height: 450px">
                                <h4>Dj´s tocando en vivo</h4>
                                <p>Los mejores Dj´s urbanos y crossover de la ciudad disponibles para tus eventos, encuéntralos en
                                    Eventos y Producciones El Kangry.</p>
                            </div>
                        </div>

                        <!-- Single Event Area -->
                        <div class="single-event-area mb-30">
                            <div class="event-thumbnail">
                                <img src="src/utils/img/servicios/servicio_02.jpg" alt="">
                            </div>
                            <div class="event-text" style="height: 450px">
                                <h4>Presentadores</h4>
                                <p>Nuestros animadores tienen la capacidad para presentar cualquier clase de evento, activaciones de marcas y más.</p>
                            </div>
                        </div>

                        <!-- Single Event Area -->
                        <div class="single-event-area mb-30">
                            <div class="event-thumbnail">
                                <img src="src/utils/img/servicios/servicio_03.jpg" alt="">
                            </div>
                            <div class="event-text" style="height: 450px">
                                <h4>Tarimas, Luces y Sonido</h4>
                                <p>Para que un evento sea exitoso, además de contratar buenos artistas, requiere un
                                    excelente sonido, nosotros se lo suministramos.</p>
                            </div>
                        </div>

                        <!-- Single Event Area -->
                        <div class="single-event-area mb-30">
                            <div class="event-thumbnail">
                                <img src="src/utils/img/servicios/servicio_04.jpg" alt="">
                            </div>
                            <div class="event-text" style="height: 450px">
                                <h4>Producción de contenido Audiovisual</h4>
                                <p>En Eventos y Producciones El Kangry, le damos solución a las necesidades de nuestros
                                    clientes cuando requieren un audio, cuña, spot o promocional de su marca, el trabajo
                                    lo hacemos en audio y/o en video</p>
                            </div>
                        </div>

                        <!-- Single Event Area -->
                        <div class="single-event-area mb-30">
                            <div class="event-thumbnail">
                                <img src="src/utils/img/servicios/servicio_05.jpg" alt="">
                            </div>
                            <div class="event-text" style="height: 450px">
                                <h4>ORGANIZACIÓN DE EVENTOS</h4>
                                <p>Uno de los fuertes de Eventos y Producciones El Kangry, es la organización de eventos
                                    masivos, nos contratan en los diferentes municipios de Antioquia donde organizamos
                                    la parte artística de sus ferias y fiestas tradicionales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### servicios End ##### -->

    
    <!-- ##### Nosotros End ##### -->
    

    <!-- ##### Buy Now Area Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100" id="galeria">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <!-- <p>See what’s new</p> -->
                        <h2>Galería</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Album Area -->
               
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_01.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Eventos para Niños</h5>
                            </a>
                            
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="300ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_02.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Rumba en el parque</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="400ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_03.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Animación en vivo</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="500ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_04.jpg" alt="">
                            
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Dj y Animador</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_05.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Rumba Color Run</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_06.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Pool Party</h5>
                            </a>
                            
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_07.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Trovadores en vivo</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="300ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_08.jpg" alt="">
                            <!-- Album Price -->
                            
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Fiestas de 15 años</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="400ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_09.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Fiestas de empresas</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="500ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_10.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Full Discoteca</h5>
                            </a>
                            </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_11.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Dj´s</h5>
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                        <div class="album-thumb">
                            <img src="src/utils/img/galerias/galeria_12.jpg" alt="">
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Rumbas Temáticas</h5>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Buy Now Area End ##### -->

    <!-- <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100" id="galeria">
        <div class="container-fluid"> -->


        
<!-- ##### Nosotros start  ##### -->

    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed"
    style="background-image: url(src/utils/img/fondos/bg_02.jpg); height: 550px;" id="nosotros">
    <div class="container">

        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <img class="rounded" src="src/utils/img/extras/wisin.jpeg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <p>Entretenimiento</p>
                        <h2>Wisin saca su nuevo sencillo “Playita”</h2>
                    </div>
                    <p>El artista presenta, de la mano de los legendarios, una nueva propuesta cargada de sonidos de reguetón, con la que busca ser el nuevo hit del verano.
                    </p>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>Playita - Wisin ft Los Legendarios</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="src/utils/audio/Playita-Wisin_Los_Legendarios.mp3">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Nosotros End ##### -->

    <!-- ##### Mapas Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100" id="contactenos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <!-- <p>See what’s new</p> -->
                        <h2>Contáctanos</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="contact-content mb-100">
                        <!-- Title -->
                        <div class="contact-title mb-50">
                            <h5>Contáctanos</h5>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-30">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <p><a href="https://www.google.com/maps/place/Cra.+59+%2370-349,+Itag%C3%BCi,+Antioquia/@6.1901163,-75.6033568,17z/data=!4m2!3m1!1s0x8e4682166444ddab:0xb379cd4564d4e3e7?hl=es"
                                    target="_blank">Carrera 59 #70-349, Itagui - Colombia</a></p>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-30">
                                <span class="fas fa-phone"></span>
                            </div>
                            <p>
                                <a href="tel:+57 3128390454">+57 3128390454</a>
                            </p>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-30">
                                <span class="fas fa-envelope"></span>
                            </div>
                            <p><a href="mailto:rey-colombia@hotmail.com">rey-colombia@hotmail.com</a></p>
                        </div>

                        <!-- Contact Social Info -->
                        <div class="contact-social-info mt-50">
                            <a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="instagram"><i
                                    class="fab fa-instagram-square"></i></a>
                            <a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Linkedin"><i
                                class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                    
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-9">
                    <!-- ##### Google Maps ##### -->
                    <div class="map-area mb-100">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5560014716857!2d-75.60554548624411!3d6.190116295518675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4682166444ddab%3A0xb379cd4564d4e3e7!2sCra.%2059%20%2370-349%2C%20Itag%C3%BCi%2C%20Antioquia!5e0!3m2!1sen!2sco!4v1618282922365!5m2!1sen!2sco"
                            allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Mapas End ##### -->



    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img"
        style="background-image: url(src/utils/img/fondos/bg_03.jpg);" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                        <!-- <p>Hola</p> -->
                        <h2>Te Contactamos</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" minlength="3" maxlength="100" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Correo eletronico" minlength="3" maxlength="75" required>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" class="form-control" name="telefono" id="addre" placeholder="Telefono" minlength="7" maxlength="20" required>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <!-- <label for="select_asunto" class="col-xs-2 col-form-label">Asunto</label> -->
                                    <div class="col-xs-10">
                                        <select id="select_asunto" class="form-control pb-2 pt-2" name="asunto" required>
                                            <option class="vistaSelect" selected value="contratacion">Contratación</option>
                                            <option class="vistaSelect" value="felicitaciones">Felicitaciones</option>
                                            <option class="vistaSelect" value="reclamos">Información</option>
                                            <option class="vistaSelect" value="peticion">Petición</option>
                                            <option class="vistaSelect" value="reclamos">Reclamos</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                        <textarea class="form-control" name="argumento" for="mensaje" placeholder="Una breve descripción..." minlength="3" maxlength="500" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                        <!-- <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Me encantaría saber más sobre ti"></textarea> -->
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                    <!-- <button class="btn oneMusic-btn mt-30" type="submit">Enviar <i class="fa fa-angle-double-right"></i></button> -->
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- ##### Login Area End ##### -->

<%- include('../includes/footer.ejs') %> 

<!-- Iniciar alerta -->

<% if(typeof alert !="undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle  %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton:'<%= showConfirmButton %>',
            timer:  2500
        }).then(()=>{
            window.location= '/<%= ruta %>'
        })
    </script>
<% } %>
    
<!-- Fin alerta -->